.favourites__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.favourites__card {
  position: relative;
  width: 400px;
  padding: 2rem;
  margin: 3rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0.75rem 2rem rgba(34, 60, 97, 0.2);
}

.favourites__movie-cover {
  display: block;
  height: 200px;
  margin: 0 auto 1rem;
  border-radius: 5px;
}
.favourites__my-note-desc {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.85rem;
  font-weight: 200;
  font-style: italic;
  border-bottom: 1px solid #d17e11;
}

.favourites__my-note {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #d17e11;
}

.favourites__place {
  position: absolute;
  top: -2.5rem;
  left: -0.5rem;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Merienda", cursive;
  font-style: italic;
  text-shadow: 0 0.75rem 2rem rgba(34, 60, 97, 0.2);
}

.favourites__movie-title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(7, 30, 63);
  border-radius: 5px;
}

.favourites__section-wrapper {
}

.favourites__section-title {
}
