.movie-card {
  position: relative;
  min-height: 500px;
  width: 85%;
  margin: 3rem auto;
  background-color: white;
  color: rgb(7, 30, 63);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
}

.movie-card__back {
  font-size: 1.5rem;
  color: #ececec;
}
.movie-card__cover-spot {
  width: 100%;
  padding: 1rem;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.movie-card__release-date {
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #ececec;
}
.movie-card__title {
  position: relative;
  margin: 2rem 0;
}
.movie-card__overview-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.movie-card__overview {
  padding: 0 1rem;
  margin-bottom: 2rem;
  line-height: 1.75rem;
}
.btn--secondary {
  padding: 1rem 2rem;
  background-color: rgb(7, 30, 63);
  border: none;
  margin: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ececec;
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

.btn--secondary:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(34, 60, 97, 0.2);
}

@media only screen and (min-width: 768px) {
  .movie-card {
    flex-direction: row;
  }
  .movie-card__release-date {
    color: rgb(7, 30, 63);
  }

  .movie-card__cover-spot {
    flex-basis: 50%;
    height: 100%;
    min-height: 500px;
  }
  .movie-card__overview-wrapper {
    width: 50%;
  }
}
