.app-header {
}

.app-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  text-align: center;
  color: rgb(7, 30, 63);
  background-color: white;
  border-bottom: 1px solid rgba(7, 30, 63, 0.15);
  box-shadow: 0 0.15rem 0.35rem rgba(7, 30, 63, 0.25);
}
.app-header__logo-wrapper {
  margin-bottom: 1rem;
}

.nav-link.app-nav__logo {
  font-size: 2rem;
}

.nav-links__wrapper {
}

.app-header__movie-search {
  padding: 0.5rem;
}

.nav-link {
  padding: 0 0.5rem;
  display: inline-block;
  font-weight: bold;
  color: inherit;
  font-size: 1.15rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.nav-link.active {
  border-bottom: 1px solid rgba(7, 30, 63, 0.15);
  box-shadow: 0 0.1rem 0.25rem -0.1rem rgba(7, 30, 63, 0.25);
}

@media (min-width: 768px) {
  .app-nav {
    flex-direction: row;
  }
  .app-header__logo-wrapper {
    margin-bottom: 0;
  }
}
