.to-watch__card {
  width: 500px;
  margin: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.75rem 2rem rgba(34, 60, 97, 0.2);
  border-radius: 10px;
}
.to-watch__movie-cover {
  height: 185px;
  margin: 0 auto;
  display: block;
  border-radius: 10%;
  margin-bottom: 1rem;
}
.to-watch__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  font-size: 1.5rem;
}

.to-watch__details {
  margin-bottom: 2rem;
  text-align: center;
}
.to-watch__movie-title {
  margin-bottom: 1rem;
}
.to-watch__details-bottom {
  margin-bottom: 1rem;
}

.to-watch__details-bottom-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-watch__release-date {
  margin: 0 1rem;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.to-watch__rating {
  margin: 0 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.to-watch__rating-desc {
  display: inline-block;
  font-size: 0.75rem;
}

.to-watch__desc {
}
