.to-watch__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.to-watch__card {
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0.75rem 2rem rgba(34, 60, 97, 0.2);
}
@media screen and (min-width: 1200px) {
  .to-watch__card {
    max-width: 450px;
  }
}
.to-watch__movie-cover {
  display: block;
  height: 185px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10%;
}
.to-watch__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.to-watch__details {
  margin-bottom: 2rem;
  text-align: center;
}
.to-watch__movie-title {
  margin-bottom: 1rem;
  color: rgb(7, 30, 63);
}
.to-watch__details-bottom {
  margin-bottom: 1rem;
}

.to-watch__details-bottom-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-watch__release-date {
  margin: 0 1rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.to-watch__rating {
  display: inline-block;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.to-watch__rating-desc {
  display: inline-block;
  font-size: 0.75rem;
}

.to-watch__desc {
}
