.watched__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.watched__item {
  justify-content: center;
  width: 300px;
  padding: 2rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0.75rem 2rem rgba(34, 60, 97, 0.2);
}

.watched__movie-cover {
  display: block;
  height: 185px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10%;
}

.watched__movie-cover:hover {
}

.watched__ratings {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.watched__rating {
  width: 50%;
  padding: 1rem;
  text-align: center;
}
.watched__rating-desc {
  display: block;
  font-size: 0.75rem;
}

.watched__my-note {
  width: 50%;
  padding: 1rem;
  text-align: center;
  color: rgb(7, 30, 63);
}

.watched__my-note-desc {
  display: block;
  font-size: 0.75rem;
}

.watched__movie-title-link {
  text-decoration: none;
}

.watched__movie-title {
  margin: 0 auto;
  display: block;
  padding: 0.5rem 2rem;
  text-align: center;
  color: rgb(7, 30, 63);
  transition: box-shadow 200ms ease-in-out;
}
.watched__movie-title:hover {
  box-shadow: 0 0.15rem 0.5rem rgba(34, 60, 97, 0.2);
}

.watched__actions {
  display: flex;
  justify-content: space-around;
}

.watched__movie-title-year {
  display: block;
  font-size: 0.85em;
  font-weight: 200;
  color: rgba(7, 30, 63, 0.25);
}
