.share-modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
  opacity: 0;
  transition: opacity 300ms ease;
}

.share-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  min-height: 175px;
  padding: 1rem;
  transform: translate(-50%, -50%) scale(0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0.75rem 2rem rgba(34, 60, 97, 0.2);
  border-radius: 10px;
  z-index: 10;
  transition: all 300ms ease-in-out;
  opacity: 0;
  z-index: 10;
}

.share-modal__message {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.share-modal__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.share-modal__social-icon {
  margin-right: 0.5rem;
}

.share-modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}

/* animation classes for backdrop element */
.bounce-fade-enter-active {
  opacity: 1;
}
.bounce-fade-enter-done {
  opacity: 1;
}
.bounce-fade-exit-active {
  opacity: 0;
}

/* animation  for modal element */
.bounce-fade-enter-active .share-modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.bounce-fade-enter-done .share-modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.bounce-fade-exit-active .share-modal {
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .share-modal {
    padding: 2rem 3rem;
  }
}
@media screen and (min-width: 992px) {
  .share-modal {
    max-width: 50%;
  }
}
