* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Montserrat", sans-serif;
  color: rgb(34, 60, 97);
  min-height: 100vh;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

/* Utilities and reusable elements */

.section {
  position: relative;
  min-height: 20rem;
}

.btn {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: rgba(7, 30, 63, 0.45);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid rgba(7, 30, 63, 0.15);
  transition: text-shadow 200ms ease-in-out, box-shadow 200ms ease-in-out;
  cursor: pointer;
}

.btn-card {
  width: 40%;
}

.btn:hover {
  text-shadow: 0 0.25rem 0.75rem rgba(34, 60, 97, 0.2);
  box-shadow: 0 0.15rem 0.75rem rgba(34, 60, 97, 0.2);
}

.btn--delete {
  width: 40%;
  color: rgb(207, 60, 60);
}

.btn--success {
  color: rgb(56, 121, 67);
}

.btn--select {
  width: 40%;
  margin: 0 1rem;
  outline: none;
  transition: all 150ms ease-in-out;
}

.no-items-info {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.25rem;
  font-weight: 200;
  color: rgba(7, 30, 63, 0.45);
  transform: translate(-50%, -50%);
}

.no-items-info__link {
  display: block;
  color: inherit;
  text-decoration: underline;
}

@media only screen and (min-width: 765px) {
  .no-items-info__link {
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
    border-bottom: 1px solid rgba(7, 30, 63, 0.45);
  }
}
