.to-watch__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.to-watch__item {
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0.75rem 2rem rgba(34, 60, 97, 0.2);
}

.to-watch__movie-cover {
  display: block;
  height: 185px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10%;
}
.to-watch__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.to-watch__details {
  margin-bottom: 2rem;
  text-align: center;
}
.to-watch__movie-title {
  margin-bottom: 1rem;
  color: rgb(7, 30, 63);
}
.to-watch__details-bottom {
  margin-bottom: 1rem;
}

.to-watch__details-bottom-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-watch__release-date {
  margin: 0 1rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.to-watch__rating {
  display: inline-block;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.to-watch__rating-desc {
  display: inline-block;
  font-size: 0.75rem;
}

.to-watch__desc {
}

.no-items-info {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.25rem;
  font-weight: 200;
  color: rgba(7, 30, 63, 0.45);
  transform: translate(-50%, -50%);
  line-height: 1.5;
  width: 80%;
}

.no-items-info__link {
  display: inline-block;
  color: inherit;
  text-decoration: underline;
}

@media only screen and (min-width: 765px) {
  .no-items-info {
    width: 50%;
  }
  .no-items-info__link {
    text-decoration: none;
    border-bottom: 1px solid rgba(7, 30, 63, 0.45);
  }
}

.items-fade-enter {
  opacity: 0;
}
.items-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in, transform 400ms cubic-bezier(0.42, -0.32, 0.51, 1.32);
  transform: translateY(0%) scale(0.75);
}
.items-fade-exit {
  opacity: 1;
}
.items-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in, transform 400ms cubic-bezier(0.32, -0.32, 0.51, 1.32);
  transform: translateY(-25%) scale(0.75);
}
